﻿@model Game
@{
    ViewData["Title"] = "Index";
}

<h1>Play</h1>
<p>Trump suit is: @Enum.GetName(typeof(Suit), Model.TrumpSuit)</p>
<p>Your hand:</p>
<div id="human-hand">
    @foreach (Card card in Model.HumanPlayer.Hand) {
        <img class="hand-card" src="~/images/playing-cards-assets/png/@card.Number.ToString().ToLower()_of_@(Enum.GetName(typeof(Suit), card.Suit).ToString().ToLower()).png" />
    } 
</div>